.my-primary {
    background-color: #2B2B2B;
}

.navbar-form {
    position: relative;
    max-width: 100%;
}
.navbar-form ul.list-group {
        position: absolute;
        width: auto;
        background: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        max-height: 200px;
        overflow-y: auto;

        /*This is relative to the navbar now*/
        left: 0;
        right: 0;
        top: 40px;
}

.item-dropdown:hover {
    color: black;
    background-color: rgba(18, 128, 245, 0.3);
    border-color: rgb(141, 167, 201);
}

.dropdown-arrow {
    color: white;
}

.icon-backround, .dropdown-arrow {
    background-color: rgba(27, 33, 39, 0.3);
    width: auto;
    border-radius: 10px;
}

.icon-backround-home {
    padding: 0 15px;
}

@media screen and (max-width: 700px) {
    .icon-backround-home {
        padding: 8px 12px;
    }
}

.Scrolling-Backround {
    background: rgb(110, 111, 114);
    background: linear-gradient(180deg, rgba(110, 111, 114) 0%, rgba(255,246,229,1) 100%, rgba(132,147,160,1) 100%);
}