
.wrap {
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    height: calc(100% + 50px);
}

.my-create-post-button {
    background-color: #6d6c6c;
    color: #ffffff
}

.delete-dropdown:hover {
    /* color: rgb(0, 0, 0); */
    background-color: rgb(238, 85, 85, 0.3);
    border-color: rgb(238, 85, 85);
}

.edit-dropdown:hover {
    /* color: rgb(124, 119, 119); */
    background-color: rgba(18, 128, 245, 0.3);
    border-color: rgb(141, 167, 201);
}

.primary-full-color {
    color: #007bff;
}

.primary-full-color:hover {
    color: #007bff;
}

.primary-border-color {
    color: #007bff;
}

.primary-border-color:hover {
    color: #007bff;
}

.height {
    padding: 0 20px;
    font-size: 0.8em;
}

.my-create-comment-button {
    background-color: #6d6c6c;
    color: #ffffff
}